:root {
  --text: #f9f3fc;
  --text_dark: #07040b;
  --background: #15071d;
  --primary: #cea0e9;
  --secondary: #2a0e3a;
  --accent: #cea0e9;
}

body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background-color: var(--background);
  color: var(--primary);
}

h1 {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 32px;
  font-size: 32px;
}

.container {
  padding: 32px 24px;
  height: 500px;
  width: 500px;
  border: solid 5px var(--accent);
  /* background-color: var(--secondary); */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  /* justify-content: center; */
  border-radius: 16px;
}

/* .display {
  height: 100px;
  width: 475px;
  background-color: var(--primary);
  color: var(--text_dark);
  border-radius: 8px;
  margin: 16px;
} */

.display input {
  height: 100px;
  width: 440px;
  padding: 0 16px;
  margin: 16px;  
  font-family: monospace;
  color: var(--background);
  font-weight: bold;
  font-size: 24px;
  text-align: right;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: var(--primary);
}

.display input:focus {
  /* Customize the border when the input is focused */
  border: 1px solid var(--secondary);
  box-shadow: 0px 0px 4px rgba(108, 9, 195, 0.5);
}

.btn {
  border: none;
  outline: none;
  padding: 16px;
  margin: 8px;
  width: 100px;
  border-radius: 8px;
  background-color: var(--primary);
  color: var(--text_dark);
  font-family: monospace;
  font-weight: bold;
}
